@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0px;
}
@font-face {
  font-family: 'ApfelGrotezk';
  src: url("fonts/ApfelGrotezk-Regular.woff") format("woff");
}

@font-face {
  font-family: 'GothamBook';
  src: url("fonts/GothamBook.otf") format("otf");
}

@font-face {
  font-family: 'LincolnMITRE';
  src: url("fonts/LincolnMITRE-LM.woff") format("woff");
}
p {
  font-family: 'ApfelGrotezk', serif;
  font-size: 1.5rem;
}

.info p {
  font-size: 2rem;
}

.directions p {
  font-size: 1.5rem;
}
.hero {
  height: 100vh;
  background-image: url('bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero h1 {
  font-family: 'LincolnMITRE', sans-serif !important;
  color: #FFFFFF;
  font-size: 6rem;
}

.title {
  font-size: 2.5rem !important;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.pitch {
  padding: 15rem 0;
  text-align: left;
  background-color: #242035;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 150%;
  margin: 0 !important;
}

.pitch .title{
  color: #FFFF00;
  font-family: 'LincolnMITRE';
  text-align: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info{
  display: flex;
  flex-direction: column;
  min-width: auto;
  justify-content: center;
}
.card-content {
  padding: 0.8rem;
}
.aside .container:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.directions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.scroll-section {
  background-color: #242035;
  margin-bottom: 150px;
}
body.hover-color1 {
  background-color: red;
}
#svg {
  position:absolute;
  height: 355%;
  left: 45%;
}

.full-size {
  position: absolute;
  height: 75vh;
  outline: 14px solid rgba(248,255,4,0.14);
  outline-offset: 0px;
  visibility: hidden;
}
.full-size.active {
  z-index: 1000;
  visibility: visible;
  animation: fade-in 500ms ease-in-out both;
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid rgba(255,255,255,0.3);
  position: fixed;
  transform: translateX(-50%); /* Adjust the element's position based on its own width */
  top: 15px;
  left: 50%; /* Position the element horizontally in the middle */
  right: 15px;
  bottom: 15px;
  overflow-y: scroll;
  padding: 0;
}
.thumbnail.active {
  visibility: hidden;  
}
.thumbnail {
  visibility: visible;
  overflow: hidden;
  background-color: #242035 !important;
  border: none;
}
.full-size-img {
  width: 100%;
  height: max-content;
}
.close-full-size-wrapper{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.close-full-size{
  color:black;
  cursor: pointer;
  position: sticky;
}

.scroll-element p{
  opacity: 0;
  transition: opacity 0.5s ease;
}
.scroll-element:hover p{
  margin: 0.5rem;
  opacity: 1;
  transition: opacity 2.5s ease;
}

.tags-wrapper .tag {
  font-family: 'LincolnMITRE', sans-serif !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border: 3px solid !important;
  font-size: 1rem;
  margin: 0.5rem 0.5rem;
}

.element-container {
  height: 30vh;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 250px;
}

.element-container:nth-of-type(even) {
  flex-direction: row-reverse;

}
.scroll-element {
  max-width: 1100px;
  width: 45vh;
  height: 18vh;
}
.scroll-element:not(:hover) {
 
  transition: width, height, 500ms;
  
}
.scroll-element:hover{
  width: 100vh;
  height: 60vh;
  transition: width, height, 2000ms;
}
.open-full-size {
  margin: 0.5rem;
  opacity: 0;
  transition: opacity, 500ms;

}
.scroll-element:hover  .open-full-size {
  opacity: 1;
  transition: opacity 1s 700ms;
}

#template .description p {
  text-align: justify;
  white-space: nowrap;
}

.address {
  margin: 0;
  padding: 0;
}

.nobr {
  white-space: nowrap;
}

.placeholder {
  width: 30%;
  margin: 1rem;
}

.throttle-container {
  display: none;
  position: fixed;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  padding: 0.5em 1em;
}

.go-up-wrapper{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
#go-up {
  display: none; /* Hidden by default */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(66, 66, 66, 0.32); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 36px; /* Rounded corners */
  font-size: 28px; /* Increase font size */
}

#go-up:hover {
  background-color: #ffc40089; /* Add a dark-grey background on hover */
}


@media screen and (max-width: 650px) {
  .element-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .placeholder {
    width: 10%;
  }
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 2000ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.slide-right {
  animation: slide-in-right 0.7s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 0.7s ease-in-out both;
}

.scrolled.slide-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}


/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}