@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0px;
}

.container {
  width: 100%;
  margin: 0 auto;
}
.pitch {
  margin: 15% 0;
  padding: 0 20%;
  text-align: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info{
  display: flex ;
  flex-direction: column ;
}
.aside .container:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.directions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scroll-section {
  background-color: rgb(245, 245, 245);
  margin-bottom: 150px;
}
body.hover-color1 {
  background-color: red;
}
#svg {
  position:absolute;
  height: 355%;
  left: 45%;
}
.big-box {
  border: 1px solid rgba(255,255,255,0.3);
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  pointer-events: none;
}

.full-size {
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  display: none;
  
}
.full-size.active {
  display: block;
  z-index: 1000;
}
.thumbnail.active {
  visibility: hidden;
  
}
.thumbnail, .thumbnail.flipping {
  visibility: visible;
  overflow: hidden;
}

.scroll-element p{
  opacity: 0;
  transition: opacity 0.5s ease;
}
.scroll-element:hover p{
  opacity: 1;
  transition: opacity 2.5s ease;
}

.element-container {
  height: 30vh;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 250px;
}

.element-container:nth-of-type(even) {
  flex-direction: row-reverse;

}
.scroll-element:not(:hover) {
  width: 45vh;
  height: 15vh;
  background: #ffa9f8;
  transition: width, height, color, 500ms;
  
}
.scroll-element:hover{
  width: 80vh;
  height: 45vh;
  background: #ff42ef;
  transition: width, height, color, 1200ms;
  overflow-y:scroll;
}
#template .description p {
  text-align: justify;
  text-overflow: clip;
  white-space: nowrap;
}

.nobr {
  white-space: nowrap;
}

.placeholder {
  width: 30%;
  margin: 1rem;
}

.throttle-container {
  display: none;
  position: fixed;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  padding: 0.5em 1em;
}

#go-up {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 10px;
  left: 47%;
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(255, 84, 84); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#go-up:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


@media screen and (max-width: 650px) {
  .element-container,
  .scroll-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .placeholder {
    width: 10%;
  }
}
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 2000ms;
}

.js-scroll.scrolled {
  opacity: 1;
}


.scrolled.slide-left {
  animation: slide-in-left 1.1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1.1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}